@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;700;900&family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,800;1,100;1,200;1,400;1,600;1,800&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,400;1,500;1,700&display=swap");
/************************ Font Family *************************/
/************************ Font Color *************************/
/* MAIN COLORS */
/* HOVER */
/********************* Background Color **********************/
/********************* Box-Shadow **********************/
/********************* Line-Heig **********************/
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;700;900&family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,800;1,100;1,200;1,400;1,600;1,800&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,400;1,500;1,700&display=swap");
/************************ Font Family *************************/
/************************ Font Color *************************/
/* MAIN COLORS */
/* HOVER */
/********************* Background Color **********************/
/********************* Box-Shadow **********************/
/********************* Line-Heig **********************/
.btn-red {
  position: relative;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  background-color: #ac242a;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px 3px 6px #1f1f1fb0;
          box-shadow: 3px 3px 6px #1f1f1fb0;
}

.btn-red:hover {
  background-color: #9b0b12;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-red:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-red-soft {
  position: relative;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #ac242abd;
  border-radius: 25px;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px 3px 6px #1f1f1f52;
          box-shadow: 3px 3px 6px #1f1f1f52;
}

.btn-red-soft:hover {
  background-color: #ac242a;
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-red-soft:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-white {
  position: relative;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  color: #16381c;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  background-color: #ffffff;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px 3px 6px #00000081;
          box-shadow: 3px 3px 6px #00000081;
}

.btn-white:hover {
  color: #33693e;
  background-color: #c9c9c9;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-white:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-green {
  position: relative;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  background-color: #16381c;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px 3px 6px #1f1f1fb0;
          box-shadow: 3px 3px 6px #1f1f1fb0;
}

.btn-green:hover {
  background-color: #24522d;
  color: #d0cece;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-green:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-transparent {
  position: relative;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  border: #ffffff48 solid 2px;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px 3px 6px #00000081;
          box-shadow: 3px 3px 6px #00000081;
}

.btn-transparent:hover {
  color: #33693e;
  background-color: #c9c9c9;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-transparent:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.span-postre-comedor {
  font-weight: 600;
  font-style: italic;
  color: #464646;
}

/**************************** SERVICIO COMEDOR ****************************/
.u-section-1 {
  position: relative;
  background-image: url("/images/comedor_img/comedor1_comedor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.u-section-1 .u-sheet-1 {
  min-height: 633px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 578px;
  margin: 166px auto 0;
}

.u-text-diet {
  font-size: 1.25rem;
  font-weight: 600;
}

.u-blur {
  position: absolute;
  top: 150px;
  width: 100%;
  height: 330px;
  background-color: #00000075;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px auto 60px;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 95px;
    margin-left: 0;
    margin-right: 0;
  }
  .u-blur {
    top: 0;
    height: 100%;
  }
  .u-section-1 .u-text-2 {
    width: auto;
    padding: 0 10px;
    line-height: 1.5rem;
    margin: 23px 0 0 0;
  }
}

/**************************** FICHAS DESCRIPCION COMIDA ****************************/
.u-section-2 .u-sheet-1 {
  min-height: 315px;
}

.u-section-2 .u-list-1 {
  margin: -80px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  -ms-grid-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
      grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  min-height: 336px;
}

.u-section-2 .u-list-item-1 {
  background-size: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  color: #111111 !important;
  margin: 20px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0;
}

.u-text-comed-icon {
  color: #ac242a;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 20px 1px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  color: #111111 !important;
  margin: 45px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 1px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-size: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 48px;
  width: 48px;
  color: black !important;
  margin: 45px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 20px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 256px;
  }
  .u-section-2 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    -ms-grid-columns: calc(50% - 15px) calc(50% - 15px);
        grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    background-color: #dddddd;
  }
  .u-section-2 .u-text-2 {
    font-style: italic;
    margin: 20px 1px 30px 0;
  }
  .u-section-2 .u-container-layout-2 {
    background-color: #dddddd;
  }
  .u-section-2 .u-text-4 {
    font-style: italic;
    margin: 20px 1px 30px 0;
  }
  .u-section-2 .u-container-layout-3 {
    background-color: #dddddd;
  }
  .u-section-2 .u-text-6 {
    font-style: italic;
    margin: 20px 1px 30px 0;
  }
}

/**************************** MENUS POR SEMANAA ****************************/
.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 850px;
}

.u-section-3 .u-list-1 {
  width: 976px;
  margin: 60px auto;
}

.u-section-3 .u-repeater-1 {
  -ms-grid-columns: calc(50% - 25px) calc(50% - 25px);
      grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  grid-gap: 50px 50px;
  min-height: 872px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  -webkit-box-shadow: 8px 8px 6px #1f1f1f65;
          box-shadow: 8px 8px 6px #1f1f1f65;
  border-radius: 25px;
  background-color: #ffffff;
  color: #000000;
}

.container-mainMenuSemanal_comedor {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-titleSemana_comedor {
  width: 100%;
  height: 70px;
  background-color: #ac242b91;
  margin-bottom: 10px;
  border-radius: 25px 25px 0 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titleSemana_comedor {
  font-family: 'Montserrat';
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-MenuSemana_comedor {
  width: 100%;
  margin-top: 10px;
  border-radius: 0 0 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.group-row-dias_comedor {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 30px 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.group-row-postre_comedor {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.diasPostreSemana_comedor {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.descrMenuSemana_comedor {
  width: 70%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-diasMenu_comedor {
  font-family: 'Montserrat';
  font-size: 1rem;
  margin: 0;
}

.text-descrMenu_comedor {
  font-family: 'Montserrat';
  font-size: 1rem;
  margin: 0;
}

.jardin {
  margin: 0 0 5px 0;
}

.primaria {
  margin: 5px 0 0 0;
}

.dia {
  font-weight: 700;
}

.postre {
  font-weight: 500;
  font-style: italic;
}

.menu {
  font-size: 0.95rem;
}

.italic {
  font-style: italic;
}

.Background-gris {
  background-color: #16381c25;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 552px;
  }
  .u-section-3 .u-list-1 {
    height: auto;
    width: 940px;
  }
  .u-section-3 .u-repeater-1 {
    min-height: 840px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }
  .u-section-3 .u-repeater-1 {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .text-diasMenu_comedor {
    margin: 5px 0 !important;
  }
  .text-descrMenu_comedor {
    margin: 0;
  }
}
/*# sourceMappingURL=comedor.css.map */