.u-section-1 .u-sheet-1 {
  min-height: 331px;
}

.u-section-1 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 4.5rem;
  letter-spacing: -1px;
  line-height: 0.8;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 60px 637px 0 90px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 7px 450px 60px 90px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 528px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 340px;
    margin-left: 0;
    font-size: 1.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 308px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 128px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 134px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 8px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-bottom: 8px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 457px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 873px;
  margin: 63px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 197px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 1.875rem;
  width: 543px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  width: 461px;
  margin: 22px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 197px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-icon-1 {
  height: 47px;
  width: 47px;
  background-image: none;
  margin: 14px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-family: "Abril Fatface";
  letter-spacing: 0px;
  text-transform: uppercase;
  font-size: 1rem;
  width: 187px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  letter-spacing: -1px;
  width: 192px;
  margin: 9px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 197px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-icon-2 {
  height: 47px;
  width: 47px;
  background-image: none;
  margin: 14px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-family: "Abril Fatface";
  letter-spacing: 0px;
  text-transform: uppercase;
  font-size: 1rem;
  width: 187px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  letter-spacing: -1px;
  width: 192px;
  margin: 9px auto 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 197px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-icon-3 {
  height: 47px;
  width: 47px;
  background-image: none;
  margin: 14px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-family: "Abril Fatface";
  letter-spacing: 0px;
  text-transform: uppercase;
  font-size: 1rem;
  width: 187px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 0.875rem;
  letter-spacing: -1px;
  width: 192px;
  margin: 9px auto 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin: 20px 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 320px;
  }

  .u-section-2 .u-text-2 {
    width: 320px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 244px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 285px;
}

.u-section-3 .u-container-layout-1 {
  padding: 16px 41px 0 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 1rem;
  line-height: 2;
  background-image: none;
  font-weight: 700;
  text-transform: none;
  width: 315px;
  margin: 27px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 285px;
}

.u-section-3 .u-container-layout-2 {
  padding: 16px 41px 0 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 223px;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  background-image: none;
  font-weight: 700;
  text-transform: none;
  margin: 31px 50px 0 47px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 235px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -63px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 235px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 111px;
  }

  .u-section-3 .u-text-1 {
    width: 300px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 18px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 206px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 21px;
  }
}