
html {
  width: 100%;
  height: 100%;
  body {
    width: 100%;
    border-bottom: solid 5px #ac242a;
  }
}

/***************************** VIDEO - HOME_index *****************************/

/* ................. Mobile ................. */

.section-video-home {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  .container-video {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;

    .video {
      position: absolute;
      height: 100%;
      left: -760px;
      filter: contrast(120%);
      z-index: -1;
    }

    .container-title {
      position: absolute;
      width: 0%;
      height: 120px;
      margin-top: 180px;
      background: linear-gradient(90deg,  rgba(22,56,28,0.05) 5%, rgba(22,56,28,.7) 100%);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      animation: container-title 2s 1;
      animation-fill-mode: forwards;
      animation-delay: 1.5s;

      .title {
        position: relative;
        font-size: 50px;
        @include frank;
        color: #ffffff;
        margin-right: 20px;
        text-align: right;
        left: 250px;
        z-index: 2;
        text-shadow: 3px 3px 3px #0000007e;
        animation: title 1s 1 forwards 2s;
      }
    }

    @keyframes container-title {
      100% {width: 100%;}
    }
    @keyframes title {
      100% {left: 0;}
    }

    .red-line-vertical {
      position: absolute;
      width: 10px;
      height: 100%;
      background-color: #df18228c;
      z-index: 1;
      opacity: 0;
      animation: red-line-vertical 2s 1;
      animation-fill-mode: forwards;
      animation-delay: 2s;
    }
    @keyframes red-line-vertical {
      100% {opacity: 1;}
    }
    .down-icon-white {
      position: absolute;
      top: 95%;
      left: 50%;
      opacity: .9;
      width: 20px;
      animation: 3s down-icon-white infinite 2s;
    }
    @keyframes down-icon-white {
      20%, 50% { transform: translateY(0px); }
      30% { transform: translateY(10px); }
      60% { transform: translateY(10px); }
    }
  }
}

/* ........... Media Query 400px ........... */

@media screen and (min-width: 400px) {
  .section-video-home {
    width: 100%;

    .container-video {
      width: 100%;

      .video {
        width: 100%;
        object-fit:cover;
        top: 0;
        left: 0;
      }
    }
  }
}

/* ........... Media Query 800px ........... */

@media screen and (min-width: 800px) {
  .section-video-home {
    position: relative;
    box-sizing: border-box;
  
    .container-video {
      position: relative;
  
      .video {
        position: absolute;
      }
  
      .container-title {
        width: 50%;
        height: 100%;
        margin-top: 0;
        left: 0;
        background: linear-gradient(90deg,  rgba(22,56,28,.7) 25%, rgba(22,56,28,0) 100%);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        opacity: 0;
        animation: container-title 2s ease-out;
        animation-delay: 1s;
        animation-fill-mode: forwards;
  
        .title {
          position: absolute;
          font-size: 8vw;
          @include frank;
          color: #ffffff;
          margin-left: 5vw;
          top: 30%;
          text-align: left;
          left: 0px;
        }
      }
      @keyframes container-title {
        0% {opacity: 0; transform: translateX(-100px);}
        100% {opacity: 1; transform: translateX(0);}
      }
        
      .red-line-vertical {
        display: none;
      }
    }
  }
}



/************************** SECCION NUESTRA HISTORIA *****************************/

/* ................. Mobile ................. */
.section-nh {
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-top: 20px;

  .main-container {
    width: 100%;
    height: 100%;

    .img-nh {
      width: 100%;
      height: 50vh;
      background-image: url(/images/index_img/index1_nuestraHistoria.JPG);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      @include shadow;
    }
    .cont-ttb {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .s-cont-tt {
        height: 100%;

        .title-nh {
          @include frank;
          font-size: 1.8em;
          margin-top: 30px;
          line-height: 1.5em;
          @include color-green-soft;
          .span-hstoria {
            font-size: 2.8em;
          }
        }

        .text-nh {
          @include frank;
          @include color-green-hard;
          font-size: 1.1em;
          line-height: 1.9em;
          letter-spacing: .03em;
          margin-top: 30px;
        }

      }

      .btn-cont {
        width: 100%;
        height: 15vh;
        margin-bottom: 20px;
        display: flex;
        align-items: flex-end;

        .btn {
          width: 60%;
        }
      }
    }
  }
}

/* ........... Media Query 400px ........... */
@media screen and (min-width: 400px) {
  .section-nh {
    padding: 7vh 5vw;
    
    .main-container {  
      .cont-ttb { 
        .btn-cont {

          .btn {
            width: 40%;
          }
        }
      }
    }
  }
}

/* ........... Media Query 800px ........... */
@media screen and (min-width: 800px) {
  .section-nh {
    padding: 7.1vh 5vw;
    margin-top: 0;

    .main-container {  
      display: flex;
      column-gap: 5vw;

      .img-nh {
        width: 40%;
        height: 85vh;
      }

      .cont-ttb {
        width: 60%;
        height: 85vh;
        animation: cont-ttb 1s ease-in-out;

        .s-cont-tt {

          .title-nh {
            font-size: 1.8em;
            margin-top: 0;

            .span-hstoria {
              font-size: 2.2em;
            }
          }
          .text-nh {
            font-size: 1.1em;
            line-height: 1.5em;
            margin-top: 15px;
          }
        }

        .btn-cont {
          justify-self:flex-end;
          margin-bottom: 0;
        }
      }
    }
  }
}

/* ........... Media Query 1400px ........... */
@media screen and (min-width: 1400px) {
  .section-nh {
    padding: 5vh 3vw;

    .main-container {  

      .cont-ttb {

        .s-cont-tt {

          .title-nh {
            font-size: 1.9em;

            .span-hstoria {
              font-size: 2.5em;
            }
          }
          .text-nh {
            font-size: 1.4em;
            line-height: 2em;
            margin-top: 40px;
          }
        }
      }
    }
  }
}

/* ........... Media Query 2000px ........... */
@media screen and (min-width: 2000px) {
  .section-nh {

    .main-container {  

      .cont-ttb {

        .s-cont-tt {

          .title-nh {
            font-size: 3.2em;
            line-height: 2em;

            .span-hstoria {
              font-size: 3.5em;
            }
          }
          .text-nh {
            font-size: 1.8em;
            line-height: 2.5em;
            margin-top: 50px;
          }
        }

        .btn-cont {
          justify-self:flex-end;
          margin-bottom: 0;

          .btn {
            font-size: 1.3em;
            width: 40%;
          }  
        }
      }
    }
  }
}

/* Animation */
.fadeLeft {
  transform: translateX(-10%);
  opacity: 0;
  transition: all 1s ease-in-out .5s;
}
.visible {
  transform: translateX(0);
  opacity: 1;
}

/***************************** SECCION OFERTA PEDAGOGICA *****************************/

/* ........... Media Query 400px ........... */

.section-oP {
  width: 100%;
  height: 100%;

  .main-container {
    width: 100%;
    height: 100%;

    
  }
}
@media screen and (min-width: 400px) {
  
}

/***************************** SECCION ULTIMAS NOTICIAS *****************************/

/* ........... Media Query 400px ........... */
@media screen and (min-width: 400px) {
  
}

/********************* SECCION NIVELES/ESCUELA PARITARIA **********************/

/* ........... Media Query 400px ........... */
@media screen and (min-width: 400px) {
  
}
/************************** SECCION NUESTROS EX ALUMNOS **************************/

/* ........... Media Query 400px ........... */
@media screen and (min-width: 400px) {
  
}

