/* Animations text*/

.fadeLeft {
  transform: translateX(-10%);
  opacity: 0;
  transition: all 1s ease-in-out .2s;
}

.fadeTop {
  opacity: 0; 
  transform: translate(0, 10vh);
  transition: all 1.5s ease-in-out;
}

.visible {
  transform: translateX(0);
  opacity: 1;
}