
.btn {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  box-sizing: border-box;
  box-shadow: 3px 3px 6px #1f1f1fb0;
  &:hover {    
    box-shadow: none;
  }
  &:active {
    transform:scale(.9);
    box-shadow: none;
  }
}

.red {
  color: #ffffff;
  background-color: #ac242a;
  &:hover {
    color: #d6d5d5;
    background-color: #94393e;
  }
  &:active {
    color: #7a7a7a;
    background-color: #940910;
  }
}

.white {
  color: #16381c;
  background-color: #ffffff;
  &:hover {
    color: #224e2a;
    background-color: #b8b8b8;
  }
  &:active {
    color: #07350f;
    background-color: #818181;
  }
}

.green {
  color: #ffffff;
  background-color: #16381c;
  ;
  &:hover {
    color: #dadada;
    background-color: #214d29;
  }
  &:active {
    color: #949494;
    background-color: #07350f;
    ;
  }
}

