@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;700;900&family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,800;1,100;1,200;1,400;1,600;1,800&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,400;1,500;1,700&family=Pangolin&display=swap");
/************************ Font Family *************************/
/************************ Font Color *************************/
/* MAIN COLORS */
/* HOVER */
/********************* Background Color **********************/
/********************* Box-Shadow **********************/
/********************* Line-Heig **********************/
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;700;900&family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,800;1,100;1,200;1,400;1,600;1,800&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,400;1,500;1,700&family=Pangolin&display=swap");
/************************ Font Family *************************/
/************************ Font Color *************************/
/* MAIN COLORS */
/* HOVER */
/********************* Background Color **********************/
/********************* Box-Shadow **********************/
/********************* Line-Heig **********************/
/* ........ Mobile ........ */
header {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.075);
          box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.075);
  background-color: rgba(255, 255, 255, 0.973);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
  /* End .container-logo-nav MOBILE */
}

header .green-line {
  height: 5px;
  background-color: #0f5f1d;
}

header .container-logo-nav {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* End .nav MOBILE*/
}

header .container-logo-nav .logo {
  width: 70%;
  height: 90%;
  margin-left: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

header .container-logo-nav .logo .img-logo {
  max-width: 300px;
}

header .container-logo-nav nav {
  height: 100%;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* End .ul-menu-mobile */
  /* ........ burger Menú ........ */
  /* lo que pasa cuando apreto el checkbox*/
}

header .container-logo-nav nav .ul-menu-mobile {
  position: absolute;
  width: 0px;
  height: 1000px;
  border-top: #bb212bcc solid 5px;
  top: 95px;
  right: 0px;
  padding-left: 0px;
  padding-top: 32px;
  margin: 0;
  overflow: hidden;
  background-color: #000000f1;
  list-style-type: none;
  z-index: 100;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

header .container-logo-nav nav .ul-menu-mobile li {
  position: relative;
}

header .container-logo-nav nav .ul-menu-mobile li .menu-items {
  display: block;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: .1em;
  color: #fff;
  padding-bottom: 16px;
  padding-top: 16px;
  text-decoration: none;
  text-align: center;
}

header .container-logo-nav nav .ul-menu-mobile li .menu-items:active {
  color: #3eb93e;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .container-logo-nav nav .ul-menu-mobile li .menu-items::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 20.5px);
  width: 41px;
  border-bottom: 1px solid #ffffff;
  opacity: 0.5;
}

header .container-logo-nav nav .ul-menu-mobile li:first-child a {
  padding-top: 0;
}

header .container-logo-nav nav #checkbox {
  display: none;
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 16px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

header .container-logo-nav nav label span {
  display: block;
  width: 20px;
  height: 2px;
  position: relative;
  background-color: #000000;
  z-index: 1;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

header .container-logo-nav nav label .span1 {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  margin-bottom: 5px;
  background-color: green;
}

header .container-logo-nav nav label .span2 {
  margin-bottom: 5px;
  background-color: #b9b9b9;
}

header .container-logo-nav nav label .span3 {
  margin-bottom: 5px;
  -webkit-transform-origin: 0%  100%;
          transform-origin: 0%  100%;
  background-color: #df3232;
}

header .container-logo-nav nav input:checked ~ ul {
  width: 100%;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

header .container-logo-nav nav input:checked ~ label .span1 {
  opacity: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #000;
}

header .container-logo-nav nav input:checked ~ label .span2 {
  opacity: 0;
}

header .container-logo-nav nav input:checked ~ label .span3 {
  opacity: 1;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #000;
}

header .container-logo-nav nav .ul-menu-descktop {
  display: none;
}

/* ........ CSS funcional a JS ........ */
.header-enabled {
  -webkit-box-shadow: 0 2px 4px 1px #9CAFC350;
          box-shadow: 0 2px 4px 1px #9CAFC350;
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
  opacity: 1;
}

.header-off {
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
  opacity: 0;
}

.header-off:hover {
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  opacity: 1;
}

.header-shadow-off {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* ............................... MEDIA QUERY 400 ............................... */
@media screen and (min-width: 400px) {
  header .container-logo-nav .logo {
    width: 70%;
    height: 90%;
    margin-left: 5vw;
  }
  header .container-logo-nav nav {
    margin-right: 5vw;
  }
}

/* ............................... MEDIA QUERY 800 ............................... */
@media screen and (min-width: 800px) {
  header {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
    /* End .container-logo-nav DESCKTOP*/
  }
  header .green-line {
    z-index: 100;
  }
  header .container-logo-nav {
    height: 12vh;
    top: 5px;
    padding: 0;
    /* End .nav DESCKTOP*/
  }
  header .container-logo-nav .logo {
    width: 25%;
    margin-left: 5vw;
  }
  header .container-logo-nav .logo:hover {
    opacity: .5;
  }
  header .container-logo-nav .logo .img-logo {
    max-width: 22vw;
  }
  header .container-logo-nav nav {
    width: 70%;
    margin: 0;
    /* End .ul-menu-descktop*/
  }
  header .container-logo-nav nav .ul-menu-descktop {
    display: block;
    width: 100%;
    margin: 0 5vw 0 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .container-logo-nav nav .ul-menu-descktop li {
    height: 50%;
    margin-left: 4vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .container-logo-nav nav .ul-menu-descktop li .menu-items {
    height: 100%;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    color: #7f9883;
    text-decoration: none;
    text-align: center;
  }
  header .container-logo-nav nav .ul-menu-descktop li .menu-items:hover {
    color: #bb212bcc;
  }
  header .container-logo-nav nav .ul-menu-descktop li .menu-items:active {
    color: #0f5f1d;
  }
  header .container-logo-nav nav .ul-menu-descktop li .menu-items::after {
    display: none;
  }
  header .container-logo-nav nav .ul-menu-descktop li .down-icon-green {
    position: absolute;
    width: 10px;
    top: 150%;
    left: 40%;
    opacity: .4;
  }
  header .container-logo-nav nav .ul-menu-descktop li .ul-submenu {
    display: none;
  }
  header .container-logo-nav nav .ul-menu-descktop li:hover {
    color: #bb212bcc;
  }
  header .container-logo-nav nav .ul-menu-descktop li:hover .ul-submenu {
    position: absolute;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .container-logo-nav nav .ul-menu-descktop li:hover .ul-submenu .submenu {
    width: 100%;
    padding: 0;
    margin: 0;
    top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container-logo-nav nav .ul-menu-descktop li:hover .ul-submenu .submenu a {
    width: 100%;
    font-size: 0.95em;
    font-weight: 600;
    color: #fff;
    padding: 10px 15px;
    margin-top: 4px;
    background-color: #7f9883d2;
    -webkit-box-shadow: 3px 3px 3px #0000007e;
            box-shadow: 3px 3px 3px #0000007e;
    -webkit-animation: a-sub .5s;
            animation: a-sub .5s;
  }
  header .container-logo-nav nav .ul-menu-descktop li:hover .ul-submenu .submenu a:hover {
    color: #bb212bcc;
    background-color: #f3f3f3;
  }
  header .container-logo-nav nav .ul-menu-descktop li:hover .ul-submenu .submenu a:active {
    color: #0f5f1d;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  @-webkit-keyframes a-sub {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes a-sub {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  header .container-logo-nav nav .ul-menu-mobile {
    display: none;
  }
  header .container-logo-nav nav #checkbox {
    display: none;
  }
  header .container-logo-nav nav label span {
    display: none;
  }
}

/*  End Media Query 800px - Menu */
/* ............................... MEDIA QUERY 1400 ............................... */
@media screen and (min-width: 1400px) {
  header .green-line {
    height: 7px;
  }
  header .container-logo-nav {
    top: 7px;
  }
  header .container-logo-nav .logo .img-logo {
    max-width: 36vw;
  }
  header .container-logo-nav nav .ul-menu-descktop li {
    margin-left: 5vw;
  }
  header .container-logo-nav nav .ul-menu-descktop li .menu-items {
    font-size: 1.2em;
  }
  header .container-logo-nav nav .ul-menu-descktop li .down-icon-green {
    width: 15px;
    top: 200%;
  }
  header .container-logo-nav nav .ul-menu-descktop li:hover .ul-submenu .submenu {
    top: 50px;
  }
  header .container-logo-nav nav .ul-menu-descktop li:hover .ul-submenu .submenu a {
    font-size: 1.3em;
    padding: 15px 20px;
    margin-top: 6px;
  }
}

/* ............................... MEDIA QUERY 2000 ............................... */
@media screen and (min-width: 2000px) {
  header .green-line {
    height: 7px;
  }
  header .container-logo-nav nav .ul-menu-descktop li {
    margin-left: 5vw;
  }
  header .container-logo-nav nav .ul-menu-descktop li .menu-items {
    font-size: 1.6em;
  }
  header .container-logo-nav nav .ul-menu-descktop li .down-icon-green {
    width: 22px;
  }
  header .container-logo-nav nav .ul-menu-descktop li:hover .ul-submenu .submenu {
    top: 55px;
  }
  header .container-logo-nav nav .ul-menu-descktop li:hover .ul-submenu .submenu a {
    font-size: 1.6em;
    padding: 22px 27px;
    margin-top: 8px;
  }
}

.btn {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 12px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px 3px 6px #1f1f1fb0;
          box-shadow: 3px 3px 6px #1f1f1fb0;
}

.btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:hover:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.red {
  color: #ffffff;
  background-color: #bb212c;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.red:hover {
  color: #ffffff;
  background-color: #bb212bcc;
}

.red:active {
  color: #e4e4e4;
  background-color: #940910;
}

.white {
  color: #16381c;
  background-color: #ffffff;
}

.white:hover {
  color: #224e2a;
  background-color: #b8b8b8;
}

.white:active {
  color: #07350f;
  background-color: #818181;
}

.green {
  color: #ffffff;
  background-color: #16381c;
}

.green:hover {
  color: #dadada;
  background-color: #214d29;
}

.green:active {
  color: #949494;
  background-color: #07350f;
}

/* @import "./general/reset"; */
/***************************** VIDEO - HOME_index *****************************/
/* ............ Mobile - video ........... */
.section-video-home {
  position: relative;
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-video-home .container-video {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-video-home .container-video .video {
  position: absolute;
  height: 100%;
  left: -760px;
  -webkit-filter: contrast(120%);
          filter: contrast(120%);
  z-index: -1;
}

.section-video-home .container-video .container-title {
  position: absolute;
  width: 0%;
  height: 120px;
  margin-top: 180px;
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, rgba(22, 56, 28, 0.05)), to(rgba(22, 56, 28, 0.7)));
  background: linear-gradient(90deg, rgba(22, 56, 28, 0.05) 5%, rgba(22, 56, 28, 0.7) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: container-title 2s 1;
          animation: container-title 2s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.section-video-home .container-video .container-title .title {
  position: relative;
  font-size: 3em;
  font-family: 'Frank Ruhl Libre', serif;
  color: #ffffff;
  margin-right: 20px;
  text-align: right;
  left: 250px;
  z-index: 2;
  text-shadow: 3px 3px 3px #0000007e;
  -webkit-animation: title 1s 1 forwards 2s;
          animation: title 1s 1 forwards 2s;
}

@-webkit-keyframes container-title {
  100% {
    width: 100%;
  }
}

@keyframes container-title {
  100% {
    width: 100%;
  }
}

@-webkit-keyframes title {
  100% {
    left: 0;
  }
}

@keyframes title {
  100% {
    left: 0;
  }
}

.section-video-home .container-video .red-line-vertical {
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #df18228c;
  z-index: 1;
  opacity: 0;
  -webkit-animation: red-line-vertical 2s 1;
          animation: red-line-vertical 2s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes red-line-vertical {
  100% {
    opacity: 1;
  }
}

@keyframes red-line-vertical {
  100% {
    opacity: 1;
  }
}

.section-video-home .container-video .down-icon-white {
  position: absolute;
  top: 95%;
  left: 50%;
  opacity: .9;
  width: 20px;
  -webkit-animation: 3s down-icon-white infinite 2s;
          animation: 3s down-icon-white infinite 2s;
}

@-webkit-keyframes down-icon-white {
  20%, 50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  30% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  60% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes down-icon-white {
  20%, 50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  30% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  60% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

/* ........ Media Query 400px ........ */
/* .............. video .............. */
@media screen and (min-width: 400px) {
  .section-video-home {
    width: 100%;
  }
  .section-video-home .container-video {
    width: 100%;
  }
  .section-video-home .container-video .video {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    top: 0;
    left: 0;
  }
}

/* ....... Media Query 800px ......... */
/* .............. video .............. */
@media screen and (min-width: 800px) {
  .section-video-home {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .section-video-home .container-video {
    position: relative;
  }
  .section-video-home .container-video .video {
    position: absolute;
  }
  .section-video-home .container-video .container-title {
    width: 50%;
    height: 100%;
    margin-top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(22, 56, 28, 0.7)), to(rgba(22, 56, 28, 0)));
    background: linear-gradient(90deg, rgba(22, 56, 28, 0.7) 25%, rgba(22, 56, 28, 0) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    opacity: 0;
    -webkit-animation: container-title 2s ease-out;
            animation: container-title 2s ease-out;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .section-video-home .container-video .container-title .title {
    position: absolute;
    font-size: 8vw;
    font-family: 'Frank Ruhl Libre', serif;
    color: #ffffff;
    margin-left: 5vw;
    top: 30%;
    text-align: left;
    left: 0px;
  }
  @-webkit-keyframes container-title {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes container-title {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  .section-video-home .container-video .red-line-vertical {
    display: none;
  }
}

/************************** SECCION NUESTRA HISTORIA *****************************/
/* ........... Mobile ............. */
/* ............. nH ............... */
.section-nH {
  width: 100%;
  height: 100%;
  padding: 30px;
  margin-top: 20px;
}

.section-nH .main-container-nH {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "img-cont cont-ttb";
}

.section-nH .main-container-nH .img-cont {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img-cont;
  -webkit-box-shadow: 4px 4px 7px #00000086;
          box-shadow: 4px 4px 7px #00000086;
}

.section-nH .main-container-nH .img-cont .img-nH {
  width: 100%;
  height: 100%;
}

.section-nH .main-container-nH .cont-ttb {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cont-ttb;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 15vh;
      grid-template-rows: auto 15vh;
      grid-template-areas: "s-cont-tt" "btn-cont";
  margin-top: 30px;
}

.section-nH .main-container-nH .cont-ttb .s-cont-tt {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: s-cont-tt;
  height: 100%;
}

.section-nH .main-container-nH .cont-ttb .s-cont-tt .title-nH {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.8em;
  line-height: 1.5em;
  color: #0f5f1d;
}

.section-nH .main-container-nH .cont-ttb .s-cont-tt .title-nH .span-title {
  font-size: 2.3em;
}

.section-nH .main-container-nH .cont-ttb .s-cont-tt .text-nH {
  font-family: 'Frank Ruhl Libre', serif;
  color: #032e0b;
  line-height: 1.9em;
  letter-spacing: .03em;
  margin-top: 20px;
}

.section-nH .main-container-nH .cont-ttb .btn-cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: btn-cont;
}

.section-nH .main-container-nH .cont-ttb .btn-cont .btn {
  width: 60%;
}

/* ........ Media Query 400px ........ */
/* ............. nH ............... */
@media screen and (min-width: 400px) {
  .section-nH {
    padding: 7vh 5vw;
  }
  .section-nH .main-container-nH .img-cont {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .section-nH .main-container-nH .img-cont .img-nH {
    height: unset;
    position: absolute;
    -webkit-box-shadow: 4px 4px 7px #00000086;
            box-shadow: 4px 4px 7px #00000086;
  }
  .section-nH .main-container-nH .cont-ttb .btn-cont .btn {
    width: auto;
  }
}

/* ........ Media Query 600px ........ */
/* ............. nH ............... */
@media screen and (min-width: 600px) {
  .section-nH .main-container-nH .img-cont .img-nH {
    width: 110%;
    top: -20%;
  }
}

/* ........ Media Query 800px ........ */
/* ............. nH ............... */
@media screen and (min-width: 800px) {
  .section-nH {
    margin-top: 0;
  }
  .section-nH .main-container-nH {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 0 4vw;
  }
  .section-nH .main-container-nH .img-cont {
    width: 100%;
    height: 100%;
  }
  .section-nH .main-container-nH .img-cont .img-nH {
    width: auto;
    height: inherit;
    top: 0;
    left: -30px;
  }
  .section-nH .main-container-nH .cont-ttb {
    margin-top: 0;
    -webkit-animation: cont-ttb 1s ease-in-out;
            animation: cont-ttb 1s ease-in-out;
  }
  .section-nH .main-container-nH .cont-ttb .s-cont-tt .title-nH {
    font-size: 1.8em;
    margin-top: 0;
  }
  .section-nH .main-container-nH .cont-ttb .s-cont-tt .text-nH {
    margin-top: 20px;
    line-height: 1.5em;
  }
  .section-nH .main-container-nH .cont-ttb .btn-cont {
    margin-bottom: 0;
    width: 40%;
  }
  .section-nH .main-container-nH .cont-ttb .btn-cont .btn {
    width: 100%;
  }
}

/* ....... Media Query 1400px ....... */
/* ............. nH ............... */
@media screen and (min-width: 1400px) {
  .section-nH {
    padding: 5vh 3vw;
    margin-top: 0;
  }
  .section-nH .main-container-nH {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 0 4vw;
  }
  .section-nH .main-container-nH .img-cont {
    width: 100%;
  }
  .section-nH .main-container-nH .img-cont .img-nH {
    width: 100%;
    height: auto;
    top: 0;
  }
  .section-nH .main-container-nH .cont-ttb {
    margin-top: 0;
    -webkit-animation: cont-ttb 1s ease-in-out;
            animation: cont-ttb 1s ease-in-out;
  }
  .section-nH .main-container-nH .cont-ttb .s-cont-tt .title-nH {
    font-size: 1.8em;
    margin-top: 0;
  }
  .section-nH .main-container-nH .cont-ttb .s-cont-tt .text-nH {
    margin-top: 20px;
    line-height: 1.5em;
  }
  .section-nH .main-container-nH .cont-ttb .btn-cont {
    width: 30%;
    margin-bottom: 0;
  }
}

/* Animation */
.fadeLeft {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out .5s;
  transition: all 1s ease-in-out .5s;
}

.visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

/***************************** SECCION OFERTA PEDAGOGICA *****************************/
/* ......... Mobile ......... */
/* ........... oP ........... */
.section-oP {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #16381c 0%, #0f5f1d 100%);
  -webkit-clip-path: polygon(0 4%, 100% 0, 100% 96%, 0% 100%);
          clip-path: polygon(0 4%, 100% 0, 100% 96%, 0% 100%);
  /* End .main-container-oP */
}

.section-oP .main-container-oP {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas: "title-op" "cont-tb-op" "implbtn-cont";
  padding: 90px 25px 70px 25px;
}

.section-oP .main-container-oP .title-oP {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  letter-spacing: .03px;
  line-height: 1.5em;
  text-shadow: 2px 2px 2px #000000;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title-op;
}

.section-oP .main-container-oP .cont-tb-oP {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cont-tb-op;
  /* btn-onOff-1 off / btn-onOff-2 on */
}

.section-oP .main-container-oP .cont-tb-oP .text-oP {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  line-height: 2em;
  margin-top: 40px;
}

.section-oP .main-container-oP .cont-tb-oP .btn-onOff-1 {
  display: none;
}

.section-oP .main-container-oP .implBtn-cont {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: implbtn-cont;
  /* btn-onOff-1 off / btn-onOff-2 on */
}

.section-oP .main-container-oP .implBtn-cont .cont-implica {
  width: 100%;
  margin-top: 50px;
  border-left: #bb212bcc solid 7px;
  padding: 20px 0 20px 20px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), color-stop(40%, rgba(0, 0, 0, 0.1)), to(rgba(15, 95, 30, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 40%, rgba(15, 95, 30, 0) 100%);
}

.section-oP .main-container-oP .implBtn-cont .cont-implica .blackboard {
  display: none;
}

.section-oP .main-container-oP .implBtn-cont .cont-implica .title-implica {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.section-oP .main-container-oP .implBtn-cont .cont-implica .text-implica {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  line-height: 2.1em;
  margin-top: 20px;
}

.section-oP .main-container-oP .implBtn-cont .btn-onOff-2 {
  display: block;
}

.section-oP .main-container-oP .implBtn-cont .cont-btn-oP {
  width: 100%;
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section-oP .main-container-oP .implBtn-cont .cont-btn-oP .btn {
  font-weight: 600;
}

/* End section-oP */
/* ......... Media Query 400px ......... */
/* ................ oP ................. */
@media screen and (min-width: 400px) {
  .section-oP {
    /* End .main-container-oP */
  }
  .section-oP .main-container-oP {
    padding: 10vh 5vw;
    /* End .implBtn-cont */
  }
  .section-oP .main-container-oP .title-oP {
    letter-spacing: .2em;
  }
  .section-oP .main-container-oP .implBtn-cont .cont-implica {
    width: 95%;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-oP .main-container-oP .implBtn-cont .cont-implica .title-implica {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
  }
  .section-oP .main-container-oP .implBtn-cont .cont-implica .text-implica {
    font-family: 'Pangolin', cursive;
    width: 100%;
    padding: 0 0 0 5vw;
    margin-top: 20px;
    line-height: 1.5em;
  }
  .section-oP .main-container-oP .implBtn-cont .cont-btn-oP {
    height: 15vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  /* End section-oP */
}

/* ......... Media Query 800px ......... */
/* ................ oP ................. */
@media screen and (min-width: 800px) {
  .section-oP {
    /* End .main-container-oP */
  }
  .section-oP .main-container-oP {
    padding: 90px 5vw 130px 5vw;
    /* End .implBtn-cont */
  }
  .section-oP .main-container-oP .title-oP {
    line-height: 1.5em;
    letter-spacing: .2em;
  }
  .section-oP .main-container-oP .cont-tb-oP {
    padding-bottom: 6vh;
  }
  .section-oP .main-container-oP .cont-tb-oP .text-oP {
    line-height: 2.2em;
  }
  .section-oP .main-container-oP .implBtn-cont {
    padding-top: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* End .cont-implica */
    /* End .cont-btn-oP */
  }
  .section-oP .main-container-oP .implBtn-cont .cont-implica {
    position: relative;
    width: 100%;
    padding: 0;
    margin-top: 0;
    border-left: none;
    background: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-oP .main-container-oP .implBtn-cont .cont-implica .blackboard {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 700px;
    margin-top: 70px;
    z-index: -1;
  }
  .section-oP .main-container-oP .implBtn-cont .cont-implica .title-implica {
    font-family: 'Pangolin', cursive;
    font-size: 1.9em;
    letter-spacing: .12em;
  }
  .section-oP .main-container-oP .implBtn-cont .cont-implica .text-implica {
    max-width: 630px;
    text-align: center;
    padding: 0;
    margin-top: 20px;
    letter-spacing: 0.1em;
    line-height: 1.5em;
  }
  .section-oP .main-container-oP .implBtn-cont .cont-btn-oP {
    height: 8vh;
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-oP .main-container-oP .implBtn-cont .cont-btn-oP .btn-whiteboard {
    font-family: 'Pangolin', cursive;
    font-size: .9em;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding: 10px 15px;
    border-radius: 25px;
    border: solid 3px #ffffffe8;
    -webkit-box-shadow: 4px 4px 7px #00000086;
            box-shadow: 4px 4px 7px #00000086;
    color: #ffffff;
    background-color: #ffffff00;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .section-oP .main-container-oP .implBtn-cont .cont-btn-oP .btn-whiteboard:hover {
    background-color: #ffffff1c;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .section-oP .main-container-oP .implBtn-cont .cont-btn-oP .btn-whiteboard:active {
    font-weight: 600;
    color: #2b2b2b;
    background-color: #777676d3;
  }
  /* End section-oP */
}

/* ......... Media Query 1000px ......... */
/* ................ oP ................. */
@media screen and (min-width: 1000px) {
  .section-oP {
    -webkit-clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
            clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
    /* End .main-container-oP */
  }
  .section-oP .main-container-oP {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.7fr 1.3fr;
        grid-template-columns: 0.7fr 1.3fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "title-op title-op" "cont-tb-op implbtn-cont";
    -webkit-column-gap: 4vw;
            column-gap: 4vw;
    /* End .cont-tb-oP */
    /* End .implBtn-cont */
  }
  .section-oP .main-container-oP .cont-tb-oP {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "text-op" "cont-btn-op";
    row-gap: 4vw;
    padding-bottom: 0;
    /* btn-onOff-1 on / btn-onOff-2 off */
  }
  .section-oP .main-container-oP .cont-tb-oP .text-oP {
    margin-top: 5vh;
    line-height: 6vh;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: text-op;
  }
  .section-oP .main-container-oP .cont-tb-oP .btn-onOff-1 {
    display: block;
  }
  .section-oP .main-container-oP .cont-tb-oP .cont-btn-oP {
    height: auto;
    margin-top: 0;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: cont-btn-op;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .section-oP .main-container-oP .implBtn-cont {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* btn-onOff-1 on / btn-onOff-2 off */
  }
  .section-oP .main-container-oP .implBtn-cont .cont-implica {
    height: 100%;
    padding: 0 20px;
    margin-top: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .section-oP .main-container-oP .implBtn-cont .cont-implica .blackboard {
    position: absolute;
    margin-top: 0;
  }
  .section-oP .main-container-oP .implBtn-cont .cont-implica .title-implica {
    margin-top: 0;
  }
  .section-oP .main-container-oP .implBtn-cont .cont-implica .text-implica {
    margin-top: 0;
  }
  .section-oP .main-container-oP .implBtn-cont .btn-onOff-2 {
    display: none;
  }
  .section-oP .main-container-oP .implBtn-cont .btn-onOff-2 .whiteboard {
    display: none;
  }
  /*  End .section-oP */
}

/***************************** SECCION ULTIMAS NOTICIAS *****************************/
/* ......... Mobile ......... */
/* ........... uN ........... */
.section-uN {
  width: 100%;
  height: 100%;
}

.section-uN .main-container-uN {
  width: 100%;
  height: 100%;
  padding: 20px;
}

/* <picture>
            <source 
            srcset="/images/index_img/index3_uN-1200px.jpg" media="(min-width: 1200px)">

            <source 
            srcset="/images/index_img/index3_uN-800px.jpg" media="(min-width: 800px)">

            <source 
            srcset="/images/index_img/index3_uN-500px.jpg" media="(min-width: 500px)">

            <img src="/images/index_img/index3_uN-500px.jpg" alt="Imagen de maestras con barbijo">
          </picture> */
/* ......... Media Query 400px ......... */
/* ................ uN ................. */
/********************* SECCION NIVELES/ESCUELA PARITARIA **********************/
/* ......... Media Query 400px ......... */
/* ................ uN ................. */
/************************** SECCION NUESTROS EX ALUMNOS **************************/
/* ......... Media Query 400px ......... */
/* ................ eA ................. */
/* @import "./pages/comedor";
@import "./pages/contacto";
@import "./pages/documentacion";
@import "./pages/historia";
@import "./pages/novedades";
@import "./pages/propuesta"; */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

html body {
  width: 100%;
  font-size: 16px;
  border-bottom: solid 5px #ac242a;
}

html body p {
  font-size: 1.1em;
}

html body h2 {
  font-size: 1.5em;
}

html body h2 .span-title {
  font-size: 2em;
}

html body a {
  font-size: 1.1em;
}

html body li {
  font-size: 1.1em;
}

/* ....... Media Query 800px ....... */
@media screen and (min-width: 800px) {
  html body {
    font-size: 100%;
  }
}

/* ....... Media Query 1200px ....... */
@media screen and (min-width: 1200px) {
  html body {
    font-size: 120%;
  }
}

p, li, h1 {
  line-height: 1.6em;
}
/*# sourceMappingURL=styles.css.map */