@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;700;900&family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,800;1,100;1,200;1,400;1,600;1,800&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,400;1,500;1,700&display=swap");
/************************ Font Family *************************/
/************************ Font Color *************************/
/* MAIN COLORS */
/* HOVER */
/********************* Background Color **********************/
/********************* Box-Shadow **********************/
/********************* Line-Heig **********************/
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;700;900&family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,800;1,100;1,200;1,400;1,600;1,800&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,400;1,500;1,700&display=swap");
/************************ Font Family *************************/
/************************ Font Color *************************/
/* MAIN COLORS */
/* HOVER */
/********************* Background Color **********************/
/********************* Box-Shadow **********************/
/********************* Line-Heig **********************/
header {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.075);
          box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.075);
  background-color: rgba(255, 255, 255, 0.973);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
  /* End .container-logo-nav MOBILE */
}

header .green-line {
  height: 5px;
  background-color: #0f5f1d;
}

header .container-logo-nav {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* End .nav MOBILE*/
}

header .container-logo-nav .logo {
  width: 70%;
  height: 100%;
  margin-left: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

header .container-logo-nav .logo .img-logo {
  max-width: 100%;
}

header .container-logo-nav nav {
  width: 10%;
  height: 100%;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* End .ul-menu-mobile */
  /* lo que pasa cuando apreto el checkbox*/
}

header .container-logo-nav nav .ul-menu-mobile {
  position: absolute;
  width: 0px;
  height: 100vh;
  border-top: #ac242a solid 5px;
  top: 95px;
  right: 0px;
  padding-left: 0px;
  padding-top: 32px;
  margin: 0;
  overflow: hidden;
  background-color: #000000f1;
  list-style-type: none;
  z-index: 100;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

header .container-logo-nav nav .ul-menu-mobile li {
  position: relative;
}

header .container-logo-nav nav .ul-menu-mobile li .menu-items {
  display: block;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #fff;
  padding-bottom: 11px;
  padding-top: 13px;
  text-decoration: none;
  text-align: center;
}

header .container-logo-nav nav .ul-menu-mobile li .menu-items:active {
  color: #3eb93e;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .container-logo-nav nav .ul-menu-mobile li .menu-items::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 20.5px);
  width: 41px;
  border-bottom: 1px solid #ffffff;
  opacity: 0.5;
}

header .container-logo-nav nav .ul-menu-mobile li:first-child a {
  padding-top: 0;
}

header .container-logo-nav nav #checkbox {
  display: none;
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 16px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

header .container-logo-nav nav label span {
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  background-color: #000000;
  z-index: 1;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

header .container-logo-nav nav label .span1 {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  margin-bottom: 4px;
  background-color: green;
}

header .container-logo-nav nav label .span2 {
  margin-bottom: 4px;
  background-color: #b9b9b9;
}

header .container-logo-nav nav label .span3 {
  margin-bottom: 4px;
  -webkit-transform-origin: 0%  100%;
          transform-origin: 0%  100%;
  background-color: #df3232;
}

header .container-logo-nav nav input:checked ~ ul {
  width: 100%;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

header .container-logo-nav nav input:checked ~ label .span1 {
  opacity: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #000;
}

header .container-logo-nav nav input:checked ~ label .span2 {
  opacity: 0;
}

header .container-logo-nav nav input:checked ~ label .span3 {
  opacity: 1;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #000;
}

header .container-logo-nav nav .ul-menu-descktop {
  display: none;
}

.header-enabled {
  -webkit-box-shadow: 0 2px 4px 1px #9CAFC350;
          box-shadow: 0 2px 4px 1px #9CAFC350;
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
  opacity: 1;
}

.header-off {
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
  opacity: 0;
}

.header-off:hover {
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  opacity: 1;
}

.header-shadow-off {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* ************************************ MEDIA QUERY 800 ************************************** */
@media screen and (min-width: 800px) {
  header {
    position: fixed;
    width: 100%;
    max-height: 80px;
    background-color: #ffffff;
    z-index: 100;
    /* End .container-logo-nav DESCKTOP*/
  }
  header .green-line {
    z-index: 100;
  }
  header .container-logo-nav {
    height: 70px;
    padding: 0;
    /* End .nav DESCKTOP*/
  }
  header .container-logo-nav .logo {
    width: 25%;
    margin-left: 5vw;
  }
  header .container-logo-nav .logo:hover {
    opacity: .5;
  }
  header .container-logo-nav nav {
    width: 70%;
    margin: 0;
    /* End .ul-menu-descktop*/
  }
  header .container-logo-nav nav .ul-menu-descktop {
    display: block;
    width: 100%;
    height: 60%;
    margin: 0 5vw 0 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .container-logo-nav nav .ul-menu-descktop li {
    height: 50%;
    margin-left: 4vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .container-logo-nav nav .ul-menu-descktop li .menu-items {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    color: #7f9883;
    text-decoration: none;
    text-align: center;
  }
  header .container-logo-nav nav .ul-menu-descktop li .menu-items:active {
    color: #0f5f1d;
  }
  header .container-logo-nav nav .ul-menu-descktop li .menu-items::after {
    display: none;
  }
  header .container-logo-nav nav .ul-menu-descktop li .down-icon-green {
    position: absolute;
    width: 10px;
    top: 100%;
    left: 40%;
    opacity: .4;
  }
  header .container-logo-nav nav .ul-menu-descktop li .ul-submenu {
    display: none;
  }
  header .container-logo-nav nav .ul-menu-descktop li:hover {
    color: #ac242a;
  }
  header .container-logo-nav nav .ul-menu-descktop li:hover .ul-submenu {
    position: absolute;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .container-logo-nav nav .ul-menu-descktop li:hover .ul-submenu .submenu {
    width: 100%;
    padding: 0;
    margin: 0;
    top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container-logo-nav nav .ul-menu-descktop li:hover .ul-submenu .submenu a {
    width: 100%;
    padding: 10px 15px;
    font-size: 0.95em;
    font-weight: 600;
    color: #fff;
    margin-top: 3px;
    background-color: #7f9883;
    -webkit-box-shadow: 3px 3px 3px #0000007e;
            box-shadow: 3px 3px 3px #0000007e;
    -webkit-animation: a-sub .5s;
            animation: a-sub .5s;
  }
  header .container-logo-nav nav .ul-menu-descktop li:hover .ul-submenu .submenu a:hover {
    color: #ac242a;
    background-color: #f3f3f3;
  }
  header .container-logo-nav nav .ul-menu-descktop li:hover .ul-submenu .submenu a:active {
    color: #0f5f1d;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  @-webkit-keyframes a-sub {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes a-sub {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  header .container-logo-nav nav .ul-menu-mobile {
    display: none;
  }
  header .container-logo-nav nav #checkbox {
    display: none;
  }
  header .container-logo-nav nav label span {
    display: none;
  }
}

.btn {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px 3px 6px #1f1f1fb0;
          box-shadow: 3px 3px 6px #1f1f1fb0;
}

.btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.red {
  color: #ffffff;
  background-color: #ac242a;
}

.red:hover {
  color: #d6d5d5;
  background-color: #94393e;
}

.red:active {
  color: #7a7a7a;
  background-color: #940910;
}

.white {
  color: #16381c;
  background-color: #ffffff;
}

.white:hover {
  color: #224e2a;
  background-color: #b8b8b8;
}

.white:active {
  color: #07350f;
  background-color: #818181;
}

.green {
  color: #ffffff;
  background-color: #16381c;
}

.green:hover {
  color: #dadada;
  background-color: #214d29;
}

.green:active {
  color: #949494;
  background-color: #07350f;
}

/* @import "./general/reset"; */
html {
  width: 100%;
  height: 100%;
}

html body {
  width: 100%;
  border-bottom: solid 5px #ac242a;
}

/***************************** VIDEO - HOME_index *****************************/
/* ........... Mobile First ........... */
.section-video-home {
  position: relative;
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-video-home .container-video {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-video-home .container-video .video {
  position: absolute;
  height: 105%;
  left: -760px;
  -webkit-filter: contrast(120%);
          filter: contrast(120%);
  z-index: -1;
}

.section-video-home .container-video .container-title {
  position: absolute;
  width: 0%;
  height: 120px;
  margin-top: 180px;
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, rgba(22, 56, 28, 0.05)), to(rgba(22, 56, 28, 0.7)));
  background: linear-gradient(90deg, rgba(22, 56, 28, 0.05) 5%, rgba(22, 56, 28, 0.7) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: container-title 2s 1;
          animation: container-title 2s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.section-video-home .container-video .container-title .title {
  position: relative;
  font-size: 50px;
  font-family: 'Frank Ruhl Libre', serif;
  color: #ffffff;
  margin-right: 20px;
  text-align: right;
  left: 250px;
  text-shadow: 3px 3px 3px #0000007e;
  -webkit-animation: title 1s 1 forwards 2s;
          animation: title 1s 1 forwards 2s;
}

@-webkit-keyframes container-title {
  100% {
    width: 100%;
  }
}

@keyframes container-title {
  100% {
    width: 100%;
  }
}

@-webkit-keyframes title {
  100% {
    left: 0;
  }
}

@keyframes title {
  100% {
    left: 0;
  }
}

.section-video-home .container-video .red-line-vertical {
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #df18228c;
  z-index: 2;
}

.section-video-home .container-video .down-icon-white {
  position: absolute;
  top: 95%;
  left: 50%;
  opacity: .9;
  width: 20px;
  -webkit-animation: 3s down-icon-white infinite 2s;
          animation: 3s down-icon-white infinite 2s;
}

@-webkit-keyframes down-icon-white {
  20%, 50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  30% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  60% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes down-icon-white {
  20%, 50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  30% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  60% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

/* ........... Media Query 400px ........... */
@media screen and (min-width: 400px) {
  .video {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    top: -28px;
    left: 0;
  }
}

/* ........... Media Query 800px ........... */
@media screen and (min-width: 800px) {
  .section-video-home {
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .section-video-home .container-video {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
  }
  .section-video-home .container-video .video {
    position: absolute;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    top: -28px;
    left: 0;
    -webkit-filter: contrast(110%);
            filter: contrast(110%);
    z-index: -1;
  }
  .section-video-home .container-video .container-title {
    position: unset;
    width: 50%;
    height: 100%;
    margin-top: 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(22, 56, 28, 0.7)), to(rgba(22, 56, 28, 0)));
    background: linear-gradient(90deg, rgba(22, 56, 28, 0.7) 25%, rgba(22, 56, 28, 0) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    opacity: 0;
    -webkit-animation: container-title 2s ease-out;
            animation: container-title 2s ease-out;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .section-video-home .container-video .container-title .title {
    position: absolute;
    font-size: 100px;
    font-family: 'Frank Ruhl Libre', serif;
    color: #ffffff;
    margin-top: 150px;
    margin-left: 50px;
    text-align: left;
    left: 0px;
  }
  @-webkit-keyframes container-title {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes container-title {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  .section-video-home .container-video .red-line-vertical {
    display: none;
  }
}

/************************** SECCION NUESTRA HISTORIA *****************************/
.section-nh {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.section-nh .main-container {
  width: 100%;
  height: 100%;
}

.section-nh .main-container .img-nh {
  width: 100%;
  height: 50vh;
  background-image: url(/images/index_img/index1_nuestraHistoria.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-box-shadow: 4px 4px 7px #00000086;
          box-shadow: 4px 4px 7px #00000086;
}

.section-nh .main-container .cont-ttb {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-nh .main-container .cont-ttb .s-cont-tt {
  height: 100%;
}

.section-nh .main-container .cont-ttb .s-cont-tt .title-nh {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  margin-top: 30px;
  color: #0f5f1d;
}

.section-nh .main-container .cont-ttb .s-cont-tt .text-nh {
  font-family: 'Montserrat', sans-serif;
  color: #032e0b;
  font-size: 1.1em;
  line-height: 1.8em;
  margin-top: 30px;
}

.section-nh .main-container .cont-ttb .btn-cont {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section-nh .main-container .cont-ttb .btn-cont .btn {
  width: 60%;
}

/* ........... Media Query 400px ........... */
/***************************** SECCION OFERTA PEDAGOGICA *****************************/
/* ........... Media Query 400px ........... */
/***************************** SECCION ULTIMAS NOTICIAS *****************************/
/* ........... Media Query 400px ........... */
/********************* SECCION NIVELES/ESCUELA PARITARIA **********************/
/* ........... Media Query 400px ........... */
/************************** SECCION NUESTROS EX ALUMNOS **************************/
/* ........... Media Query 400px ........... */
/* @import "./pages/comedor";
@import "./pages/contacto";
@import "./pages/documentacion";
@import "./pages/historia";
@import "./pages/novedades";
@import "./pages/propuesta"; */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p, li, h5 {
  line-height: 1.6rem;
}
/*# sourceMappingURL=styles.css.map */