
@import "./general/variables";
@import "./general/menu";
@import "./general/btns";
@import "./general/animations";

@import "./pages/index";
/* @import "./pages/comedor";
@import "./pages/contacto";
@import "./pages/documentacion";
@import "./pages/historia";
@import "./pages/novedades";
@import "./pages/propuesta"; */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box
}
html {
  width: 100%;
  height: 100%;

  body {
    width: 100%;
    font-size: 16px;
    border-bottom: solid 5px #ac242a;

    p {
      font-size: 1.1em;
    }
    h2 {
      font-size: 1.5em;
    }
    a {
      font-size: 1.1em
    }
    li {
      font-size: 1.1em
    }
  }
}
  
/* ....... Media Query 800px ....... */
@media screen and (min-width: 800px) {
  html {  
    body {
      font-size: 110%;
      
      a {
        font-size: 100%;
      }
    }
  }
}

/* ....... Media Query 1200px ....... */
@media screen and (min-width: 1200px) {
  html { 
    body {
      font-size: 110%;
    
      a {
        font-size: 100%;
      }
    }
  }

}
/* ....... Media Query 1400px ....... */
@media screen and (min-width: 1200px) {
  html { 
    body {
      font-size: 120%;

      a {
        font-size: 110%;
      }
    }
  }
}

p, li, h1 {
    line-height: 1.6em;
}

